:root {
  /* font related custom properties */
  --primary-font-family: "DM Sans", sans-serif;
  --font-thin: 100;
  --font-extra-light: 200;
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-extra-bold: 800;
  --font-black: 900;
  /* color related custom properties */
  --color-light: #ffffff;
  --color-dark: #000000;
  --color-one: #d8d8d8;
  --color-two: #f5f5f3;
  --color-three: #f3f3f3;
  --color-four: #6d6d6d;
  --color-five: #767676;
  --color-six: #262626;
}

/* ***** COMMON STYLES START ***** */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: var(--primary-font-family);
  font-weight: var(--font-regular);
  font-size: 16px;
  color: var(--color-six);
}
/* ***** COMMON STYLES END ***** */

/* ***** REUSEABLE STYLES START ***** */
.btnPrimary {
  color: var(--color-light);
  background-color: var(--color-six);
  font-family: var(--primary-font-family);
  font-weight: var(--font-bold);
  padding: 16px 56px;
  border: none;
}
/* ***** REUSEABLE STYLES END ***** */
/* ***** Phone part ***** */
.phone__part--bnt{
  transition: all linear .2s;
  -webkit-transition: all linear .2s;
  -moz-transition: all linear .2s;
  -ms-transition: all linear .2s;
  -o-transition: all linear .2s;
}
.phone__part--bnt:hover{
  background-color: var(--color-five);
}

.phone_part{
  background-color: #F3F3F3;
  width: 100%;
  height: 100%;
  padding: 50px;
  font-family: "DM Sans", sans-serif;
}
.button{
  color: white;
  background-color:#262626;
  font-family: "DM Sans", sans-serif;
}
/* ***** Phone part ***** */
